body {
    font-family: Arial, sans-serif;
    margin: 1rem auto;
    

}

h1 {
    text-align: center;
    margin:2rem;
}

ul {
    list-style-type: none;
    margin: 0 2rem;
    padding: 0;
}

li {
    background-color: rgb(125, 178, 192);
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

li:hover {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #333;
}

.song-name {
    font-weight: bold;
}

.song-artist {
    font-style: italic;
}

.song-url {
    color: #666;
}